<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Similarity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProjectTest.Properties.Settings>
            <setting name="Ip" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="pathpic" serializeAs="String">
                <value />
            </setting>
            <setting name="sSimLo" serializeAs="String">
                <value />
            </setting>
            <setting name="UserGroup" serializeAs="String">
                <value />
            </setting>
        </ProjectTest.Properties.Settings>
        <Similarity.Properties.Settings>
            <setting name="Ip" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="pathpic" serializeAs="String">
                <value />
            </setting>
            <setting name="sSimLo" serializeAs="String">
                <value />
            </setting>
        </Similarity.Properties.Settings>
    </userSettings>
</configuration>